<div id="element">
<h3>Criteria</h3>
  <select id="criteria" name="criteria1">
     <option value=""></option>
    <option value="Guiding">Guiding</option>
    <option value="Low Chair">Low Chair</option>
    <option value="Mark Time">Mark Time</option>
    <option value="High Chair">High Chair</option>
    <option value="Flanks">Flanks</option>
  </select>

<h3>Change</h3>
  <input id="change" name="change" type="radio" value="Good">Good<br>
  <input id="change" name="change" type="radio" value="Bad">Bad<br>
<h3>Comments (optional)</h3>
<textarea id="comments" name="comments" rows="4" cols="25" maxlength="100"></textarea>

<br><hr>
</div>
