<h3>Student Leader</h3>
<select id="leader" name="leader">
	<option value=""></option>
	<option value="Alex_L">Alex L.</option>
	<option value="Alex_K">Alex K.</option>
	<option value="Bobby">Bobby</option>
	<option value="Cassie">Cassie</option>
	<option value="Colin">Colin</option>
	<option value="Jeremy">Jeremy</option>
	<option value="JC">J.C.</option>
	<option value="Kristin">Kristin</option>
	<option value="Nick">Nick</option>
	<option value="Ryan">Ryan</option>
	<option value="Tim">Tim</option>
	<option value="Vince">Vince</option>
</select>
<judgement></judgement>
<input type="button" id="more_fields" onclick="add_criteria();" value="Add another comment"/>
<br><br>
<input type="submit" value="Submit"/>
