 <div class="welcome" >
    <h1>Welcome to AAMB Selections!</h1>
    <br>
    <mat-form-field>
        <input matInput [(ngModel)]="username" placeholder="Username" (keyup)="enterAction($event)">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput type="password" [(ngModel)]="password" placeholder="Password" (keyup)="enterAction($event)">
    </mat-form-field>
    <br>
    <div class="login-button">
        <button mat-raised-button color="primary" (click)="login()">Login</button>
    </div>
    <router-outlet></router-outlet>
</div>
