@import "~@angular/material/theming";
@include mat-core();

$audition-theme-primary: mat-palette($mat-yellow);
$audition-theme-accent: mat-palette($mat-grey); 
$audition-theme-warn: mat-palette($mat-red);

$audition-theme: mat-light-theme($audition-theme-primary, $audition-theme-accent, $audition-theme-warn);
@include angular-material-theme($audition-theme);
