<h3>Student Leader</h3>
<mat-select placeholder="Student Leader" [ngModel]="this.studentLeader" required>
	<mat-option *ngFor="let obj of slList | async" [value]="obj.name">
		{{obj.name}}
	</mat-option>
</mat-select>
<h3>Auditionee</h3>
	<input matInput type="text" placeholder="Name an auditionee" [ngModel]="this.auditionee" [formControl]="myControl" [matAutocomplete]="auto" required>
	<mat-autocomplete #auto="matAutocomplete">
		<mat-option *ngFor="let auditionee of filteredOptions | async" [value]="auditionee">
			{{auditionee}}
		</mat-option>
	</mat-autocomplete>
<div>
	<ng-template #target></ng-template>
</div>
<input type="button" id="more_fields" (click)="putInMyHtml()" value="Add another comment"/>
<br><br>
<input (click)="submitComment()" type="submit" value="Submit"/>
