<div class="leaderAuditionee">

	<mat-form-field>
		<mat-select placeholder="Section" [(ngModel)]="section" name="section" required>
			<mat-option *ngFor="let obj of this.SECTIONS" [value]="obj">
				{{obj}}
			</mat-option>
		</mat-select>
	</mat-form-field>

	<mat-form-field>
		<input matInput type="text" placeholder="Student Leader" [(ngModel)]="studentLeader" required>
	</mat-form-field>

	<mat-form-field>
		<input matInput type="text" placeholder="Auditionee" [(ngModel)]="auditionee" required>
	</mat-form-field>

	<div>
		<ng-template #target></ng-template>
	</div>
	<button mat-raised-button color="primary" (click)="putInMyHtml()">Add another comment</button>
	<br><br>
	<button mat-raised-button color="primary" (click)="submitComment()" type="submit">Submit</button>
</div>
